.main {
  text-align: center;
}
.temp {
  margin-left: 400px;
  margin-right: 400px;
  border-width: 5px;
  border-style: solid;
}
.a {
  margin-left: 400px;
  margin-right: 400px;
  border-width: 5px;
  border-style: solid;
}
.b {
  margin-left: 400px;
  margin-right: 400px;
  border-width: 5px;
  border-style: solid;
}
